<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Kanban Board</title>
    <link rel="stylesheet" href="{{  url_for('static', filename='css/index.css')  }}">
    <script src="{{  url_for('static', filename='js/kanban_functionality.js')  }}"></script>
    <script src="{{  url_for('static', filename='js/test.js')  }}"></script>
  </head>

  <body>
    <div id="kanban-board" name="board" class="kanban-board">
      <div id="kanban-container-columns" name="columns" class="kanban-container-columns">
        <!-- EVENTUALLY MOVE COLUMN AND CARD CREATION TO SEPERATE JINJA TEMPLATES/FUNCTIONS -->
        {% for column in columns %}
          <div id="col-{{  column['id']  }}" class="kanban-column" data-position="{{  column['position']  }}">
            <div id="col-{{  column['id']  }}-header" class="kanban-column-header">
              <div id="col-{{  column['id']  }}-name" class="kanban-column-name editable" contenteditable="plaintext-only" data-placeholder="Name...">{{  column['title'] }}</div>
              <div class="delete-button kanban-button kanban-button-delete-column" data-parent="col-{{  column['id']  }}">×</div>
            </div>
            <div id="col-{{  column['id']  }}-container-cards" class="kanban-container-cards">
              {% for card in column['cards'] %}
              
                <div id="card-{{ card['id']  }}" class="kanban-card" draggable="false" data-position="{{  card['position']  }}">
                  <div id="card-{{  card['id']  }}-header" class="kanban-card-header">
                    <div class="kanban-card-grab draggable" draggable="true">°°°</div>
                    <div class="delete-button kanban-button kanban-button-delete-card" data-parent="card-{{  card['id']  }}">×</div>
                  </div>
                  <div id="card-{{  card['id']  }}-title" contenteditable="plaintext-only" class="kanban-card-title editable" data-placeholder="Title...">{{  card['title']  }}</div>
                  <div id="card-{{  card['id']  }}-text" contenteditable="plaintext-only" class="kanban-card-text editable" data-placeholder="Type text here...">{{  card['content']  }}</div>
                </div>

              {% endfor %}
            </div>
            <div class="add-button kanban-button kanban-button-create-card" data-parent="col-{{  column['id']  }}">+</div>
          </div>

        {% endfor %}
      </div>
      <button id="kanban-new-column" onclick="addColumn()" class="kanban-new-column">+</button>
    </div>

    <script>
      // =========================
      // ADD API CALL 
      // SCRIPT FOR UPDATING CARD TITLE AND TEXT
      query = document.querySelectorAll(".kanban-card-title")
      query.forEach(field => {
        field.addEventListener("blur", async function(e) {
          id = e.target.id.match("[0-9]+")[0]
          card = document.getElementById("card-" + id)
          col_id = card.parentElement.id.match("[0-9]+")[0]
          body = {
            status: "ok",
            title: e.target.textContent
          }
          response = await request(window.location.origin + "/cards/" + id, "PATCH", body)
        });
      });

      query = document.querySelectorAll(".kanban-card-text")
      query.forEach(field => {
        field.addEventListener("blur", async function(e) {
          id = e.target.id.match("[0-9]+")[0]
          card = document.getElementById("card-" + id)
          col_id = card.parentElement.id.match("[0-9]+")[0]
          body = {
            status: "ok",
            content: e.target.textContent
          }
          response = await request(window.location.origin + "/cards/" + id, "PATCH", body)
        });
      });

      // =========================
      // ADD API CALL 
      // SCRIPT FOR UPDATING COLUMN TITLE
      query = document.querySelectorAll(".kanban-column-name")
      query.forEach(field => {
        field.addEventListener("blur", async function(e) {
          id = e.target.id.match("[0-9]+")[0]
          body = {
            status: "ok",
            title: e.target.textContent
          }
          response = await request(window.location.pathname + "columns/" + id, "PATCH", body)
        });
      });

      // SCRIPT FOR DELETING COLUMNS
      query = document.querySelectorAll(".kanban-button-delete-column")
      query.forEach(button => {
        button.addEventListener("click", async function(e) {
          col_id = e.currentTarget.getAttribute("data-parent")
          id = col_id.match("[0-9]+")[0]
          body = {
            status: "ok"
          }
          response = await request(window.location.pathname + "columns/" + id, "DELETE", body)

          // if response okay then remove
          document.getElementById(col_id).remove()
        });
        
      });
      
      // SCRIPT FOR DELETING CARDS
      query = document.querySelectorAll(".kanban-button-delete-card")
      query.forEach(button => {
        button.addEventListener("click", async function(e) {
          card_id = e.currentTarget.getAttribute("data-parent")
          col_id = document.getElementById(card_id).parentElement.id.match("[0-9]+")[0]
          id = card_id.match("[0-9]+")[0]
          body = {
            status: "ok"
          }
          response = await request(window.location.origin + "/cards/" + id, "DELETE", body)
          // if response okay then remove
          document.getElementById(card_id).remove()
        });
      });


      // SCRIPT FOR MAKING CARDS DRAGGABLE
      query = document.querySelectorAll(".kanban-card-grab")
      query.forEach(grab => {
        grab.addEventListener("dragstart", (event) => {
          card = event.target.parentElement.parentElement;
          dragged = card

          event.target.classList.add("dragging");

          generateSlots()

          drops = document.querySelectorAll(".dropzone")
          drops.forEach(drop => {
              drop.classList.add("potential-drop")
          });
        });

        grab.addEventListener("dragend", (event) => {

          event.target.classList.remove("dragging")
            
          drops = document.querySelectorAll(".dropzone")
          drops.forEach(drop => {
            drop.classList.remove("potential-drop")
          });
          tidyColumn()
        });

      });
      
      // SCRIPT FOR CARD CREATION

      query = document.querySelectorAll(".kanban-button-create-card")
      query.forEach(button => {
        button.addEventListener("click", function(e) {
          addCard(e.currentTarget.getAttribute("data-parent"))
        });
      });


    </script>
  </body>
</html>