{% extends "layout.html" %}

{% block content %}
  <h1>Welcome to Notes Galore</h1>

  
  <div>
    {% if boards %}
    <p>Here are the available boards: </p>
      <ul>
        {% for board in boards %}
          <li><a href="{{  board['board_link'] }}">{{  board['title']  }}</a></li>
        {% endfor %}
      </ul>
      
      <p>Want to create a new board? Look here: </p>

      <form id="form-create-kanban-board">
        <div id="form-field-name" contenteditable="plaintext-only" class="input-div" data-placeholder="Enter board name..."></div>
        <div id="form-button-submit" class="add-button kanban-button">Create</div>
      </form>

      
    {% else %}
      <p>Looks like there are no boards available.</p>
      <p>Create one here: </p>
      <form id="form-create-kanban-board">
        <div id="form-field-name" contenteditable="plaintext-only" class="input-div" data-placeholder="Enter board name..."></div>
        <div id="form-button-submit" class="add-button kanban-button">Create</div>
      </form>
    {% endif %}
  </div>

  <script>
    button = document.getElementById("form-button-submit")
    button.addEventListener("click", async (event) => {
      name = document.getElementById("form-field-name").textContent
      if (name == "") {
        console.log("ERROR! Please provide name for kanban-board")
        return
      };
      body = {
        boardname: name
      }
      response = await request("/boards", "POST", body, wait=false)
      if (response.redirect) {
        window.location.href = response.redirect
      }
      
    })
  </script>
{% endblock %}